* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
/*
.app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: wheat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 20px;
}*/

.header {
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
  height: 100px;
  text-align: center;
  width: 100vw;
  background: rgb(199, 135, 7);
}

.add-form {
  background: rgb(199, 80, 6);
  width: 100vw;
  margin: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  gap: 50px;
}
.add-btn {
  font-size: 1rem;
  padding: 5px;
  border-radius: 10px;
  border: none;
  width: 100px;
  background: rgb(20, 168, 213);
  color: white;
}
.add-btn:hover {
  background: rgba(67, 94, 101, 0.8);
  cursor: pointer;
}
.quantity-select {
  font-size: 0.5rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.packing-list {
  background: hsla(0, 48%, 13%, 0.815);
  width: 100vw;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: 1rem;
}

.packing-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.items {
  flex: 0 1 calc(25% - 8px);
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.check-box {
  margin-right: 10px;
}
.delete-btn {
  font-size: 0.5rem;
  margin-left: 10px;
  padding: 5px;
  border: none;
}
.delete-btn:hover {
  background: rgba(67, 94, 101, 0.8);
  cursor: pointer;
}

.stats {
  background: linear-gradient(#3b6d45 100%);
  color: white;
  width: 100vw;
  height: 100px;
  text-align: center;
}
